.post-container {
    margin: 50px auto;
    width: 50%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(73, 150, 233, 0.29);
}
h3 {
    white-space: nowrap;
    position: center;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}
.input-title {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid #4da6ff;
    padding: 5px;
    font-size: 16px;
    background-color: #f0f8ff;
}

.input-body {
    white-space: pre-wrap;
    width: 95%;
    height: 100px;
    border: 2px solid #ffa07a;
    padding: 10px;
    font-size: 16px;
    background-color: #fffaf0;
}
input[type="submit"] {
    /* width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.button { */
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 40px;   /* 余白       */
    color         : #ffffff;     /* 文字色     */
    background    : rgba(71, 141, 211, 0.99);     /* 背景色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 1px 1px #666666;  /* 影の設定 */
    border        : 2px solid rgba(77, 166, 255, 0.99);    /* 枠の指定 */
}
.button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    background    : #ffffff;     /* 文字色     */
    color         : rgba(77, 166, 255, 0.99);     /* 背景色     */
}