.blank1{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    min-height: 88vh;  /* 画面全体の高さを埋める */
    } 
    
.blank2{
    text-align: center;
    height: 650px;
    width: 45%;
    color: white;
    background: #f1b97a;
    border-radius: 140px;
    margin: 20px 5px;
    padding: 20px 40px;
    } 
.blank2 a{
    color:#ffffff;
    } 
h2{
    margin-top: 50px;
    color: aliceblue;
}

.field label {
    font-weight: 100;
    font-size: 15px;
    } 
.field input[type="email"] {
    border-style: none;
    width: 250px;
    height: 30px;
    background: #f5a953;
    border-radius: 10px;
    border: 1px #060339 solid;
    } 
    
.field input[type="password"] {
    border-style: none;
    width: 250px;
    height: 30px;
    background: #f5a953;
    border-radius: 10px;
    border: 1px #060339 solid;
    } 
    
.actions input[type="submit"] {
    border-style: none;
    width: 150px;
    height: 25px;
    font-size: 15px;
    background: #f37121f3;
    border-radius: 10px;
    border: 1px #ebf0f9 solid;
    } 
    
.actions input[type="submit"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom,#ea501c,#f6b08af3);
    }